* {
  margin: 0;
  padding: 0; }

body {
  background-color: #DCFEED;
  background-image: -webkit-linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), -webkit-linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-image: -o-linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), -o-linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-image: -moz-linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), -moz-linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-image: linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-size: 24vh 16vh;
  background-position: center; }

#header {
  background: rgba(18, 85, 33, 0.75);
  background: -webkit-linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -o-linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -moz-linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  box-shadow: 0px 2px 5px #555555;
  transition: all 1s;
  width: 100vw;
  height: 20vh; }

h1 {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-size: 9.1vh;
  line-height: 9.1vh;
  height: 13vh;
  color: #DCFEED;
  text-shadow: 2px 2px 5px #125521;
  transition: all 1s; }

#buttons {
  text-align: right;
  padding-right: 2em; }

.button {
  display: inline-block;
  font-size: 2.8vh;
  line-height: 2.8vh;
  color: #DCFEED;
  text-shadow: 2px 2px 3px #125521;
  text-align: center;
  padding: 2.1vh 0.5em 2.1vh 0.5em; }

#container {
  height: 13vh;
  transition: all 1s;
  background: transparent; }

a, a:visited, a:link {
  text-decoration: none;
  color: inherit; }

#footer {
  height: 15vh;
  font-size: 3em;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background: rgba(18, 85, 33, 0.75);
  background: -webkit-linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -o-linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -moz-linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  box-shadow: 0px -2px 5px #555555;
  color: #DCFEED; }

/*# sourceMappingURL=game.css.map */
