#newGameDiv, #logInDiv, #signUpDiv {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 85, 33, 0.6);
  color: #125521;
  -webkit-justify-content: center;
  justify-content: center; }

.notVisible {
  display: none; }

.visible {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex; }

#types {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  height: 80vh;
  max-height: 80vh;
  min-height: 80vh;
  background-color: rgba(220, 254, 237, 0.8);
  border-radius: 10px;
  color: #125521; }

#logIn, #signUp {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  height: 64vh;
  max-height: 64vh;
  min-height: 64vh;
  background-color: rgba(220, 254, 237, 0.8);
  border-radius: 10px;
  color: #125521; }

#hotSeat {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 40%;
  max-width: 40%;
  min-width: 40%;
  height: 72vh;
  max-height: 72vh;
  min-height: 72vh;
  padding: 4vh 5%; }

h4 {
  text-align: center;
  font-size: 8vh; }

h5 {
  text-align: center;
  font-size: 5.6vh; }

h6 {
  text-align: center;
  font-size: 1em; }

#newGameDiv hr, #logInDiv hr, #signUpDiv hr {
  width: 90%;
  border-top: 1px solid rgba(18, 85, 33, 0.8);
  border-bottom: none;
  margin: 4vh 5%;
  box-shadow: 0px 0px 2px #555555; }

input {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

input[type=text], input[type=text]:focus, input[type=password],
input[type=password]:focus {
  width: 80%;
  margin: 1.6vh 10% 0 10%;
  color: #125521;
  outline: none;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  background: inherit;
  border: none;
  border-bottom: 1px solid #125521; }

input[type=submit], input[type=submit]:focus {
  width: 70%;
  margin: 0 15%;
  font-size: 6.4vh;
  background-color: inherit;
  box-shadow: 0px 0px 2px #555555;
  outline: none;
  color: #125521;
  text-align: center;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 10px; }

.gameType p {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  display: inline-block;
  width: 20%;
  margin: 0.25em 15%;
  height: 5%;
  text-align: justify; }

.cancel:hover, input[type=submit]:hover {
  border: 2px solid #125521; }

.cancel:active, input[type=submit]:active {
  border: 2px solid #125521;
  background-color: #125521;
  color: #DCFEED; }

.cancel {
  width: 75%;
  max-width: 75%;
  min-width: 75%;
  height: 8vh;
  max-height: 8vh;
  min-height: 8vh;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 6.4vh;
  background-color: rgba(220, 254, 237, 0.8);
  text-align: center;
  color: #125521;
  font-weight: bold;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 4vh; }

#logInDiv .cancel, #signUpDiv .cancel {
  width: 45%;
  max-width: 45%;
  min-width: 45%;
  height: 6.4vh;
  max-height: 6.4vh;
  min-height: 6.4vh;
  font-size: 4.8vh; }

#logInDiv input[type=text], #logInDiv input[type=password],
#signUpDiv input[type=text], #signUpDiv input[type=password] {
  background-color: transparent; }

#logInDiv input[type=submit], #signUpDiv input[type=submit] {
  background-color: transparent;
  font-size: 5.12vh; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #DCFEED;
  background-image: -webkit-linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), -webkit-linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-image: -o-linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), -o-linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-image: -moz-linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), -moz-linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-image: linear-gradient(34deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521), linear-gradient(146deg, #125521, transparent 20%, white 24%, white 26%, transparent 30%, transparent 70%, white 74%, white 76%, transparent 80%, #125521);
  background-size: 24vh 16vh;
  background-position: center; }

#header {
  background: rgba(18, 85, 33, 0.75);
  background: -webkit-linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -o-linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -moz-linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: linear-gradient(105deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  box-shadow: 0px 2px 5px #555555;
  transition: all 1s;
  position: fixed;
  width: 100vw; }

.largeHeader {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 80vh;
  max-height: 80vh;
  min-height: 80vh; }

.shrinkHeader {
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 20vh;
  max-height: 20vh;
  min-height: 20vh; }

#logo {
  background-color: #DCFEED;
  background-image: -webkit-linear-gradient(45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43), -webkit-linear-gradient(-45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43);
  background-image: -o-linear-gradient(45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43), -o-linear-gradient(-45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43);
  background-image: -moz-linear-gradient(45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43), -moz-linear-gradient(-45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43);
  background-image: linear-gradient(45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43), linear-gradient(-45deg, #21CC43 25%, transparent 25%, transparent 75%, #21CC43 75%, #21CC43);
  background-size: 35% 35%;
  background-position: center;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #555555;
  text-align: center;
  color: #125521; }

.logoLarge {
  width: 28.47vh;
  max-width: 28.47vh;
  min-width: 28.47vh;
  height: 28.47vh;
  max-height: 28.47vh;
  min-height: 28.47vh;
  border: 0.365vh solid #DCFEED;
  margin: 3.65vh auto;
  font-size: 19.929vh; }

.logoSmall {
  width: 10.14vh;
  max-width: 10.14vh;
  min-width: 10.14vh;
  height: 10.14vh;
  max-height: 10.14vh;
  min-height: 10.14vh;
  border: 0.13vh solid #DCFEED;
  margin: 0 0 0 2em;
  font-size: 7.098vh;
  float: left; }

h1 {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 21.9vh;
  height: 36.5vh;
  color: #DCFEED;
  text-shadow: 2px 2px 5px #125521;
  transition: all 1s;
  clear: none; }

.shrinkH1 {
  margin: 0;
  height: 13vh;
  font-size: 9.1vh;
  line-height: 9.1vh; }

#buttons {
  text-align: right;
  padding-right: 2em; }

.button {
  display: inline-block;
  font-size: 2.8vh;
  line-height: 2.8vh;
  color: #DCFEED;
  text-shadow: 2px 2px 3px #125521;
  text-align: center;
  padding: 2.1vh 0.5em 2.1vh 0.5em; }

.button:hover {
  color: #125521; }

.button:active {
  color: #125521;
  text-shadow: -1px -1px 2px #111111; }

#container {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  height: 70vh;
  transition: all 1s;
  background: transparent; }

.largeContainer {
  padding-top: 100vh; }

.shrinkContainer {
  padding-top: 50vh; }

#card {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  height: 64vh;
  max-height: 64vh;
  min-height: 64vh;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(220, 254, 237, 0.8);
  box-shadow: 0px 0px 5px #555555;
  font-size: 2em;
  color: #125521;
  text-align: center; }

#links {
  width: 70vw; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 0.8em; }

.link {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-weight: bold; }

.link:hover {
  background-color: rgba(18, 85, 33, 0.2); }

.link:active {
  background-color: rgba(18, 85, 33, 0.5); }

.link:nth-child(2) {
  border-left: 1px solid rgba(18, 85, 33, 0.8);
  border-right: 1px solid rgba(18, 85, 33, 0.8); }

a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

#footer {
  height: 10vh;
  font-size: 5vh;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  -webkit-align-content: space-around;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  background: rgba(18, 85, 33, 0.75);
  background: -webkit-linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -o-linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: -moz-linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  background: linear-gradient(75deg, rgba(18, 85, 33, 0.75), rgba(33, 204, 67, 0.75));
  box-shadow: 0px -2px 5px #555555;
  color: #DCFEED;
  text-shadow: 2px 2px 5px #125521; }

/*# sourceMappingURL=index.css.map */
