@import "helpers/colors";
@import "helpers/gradients";
@import "helpers/functions";

$screen_w: 100vw;
$screen_h: 100vh;

//$hdrhght: 0.16 * $screen_h;
$container_h: 0.83 * $screen_h;
$notice_h: 0.07 * $screen_h;
$noticefntsize: 0.6 * $notice_h;
$boardsize: $container_h - $notice_h;
$freespace: calc($screen_w - $boardsize);
$sidebar_w: $freespace / 2;
$piecesize: $boardsize / 6;
$pieceinteriorsize: $piecesize * 0.94;
$cellsize: $boardsize / 4;
$cellinteriorsize: $cellsize * 0.94;

@import "parts/header";

$h1_h: 0.8 * $header_h;
$h1fontsize: 0.8 * $h1_h;

* {
    margin: 0;
    padding: 0;
    font-family: 'Aldo';
}

body {
    background-color: $light-green;
    overflow: hidden;
}

h1 {
    @include vertical-flexbox;
    font-size: $h1fontsize;
    line-height: $h1fontsize;
    height: $h1_h;
    color: $light-green;
    text-shadow: 2px 2px 5px $dark-green;
    transition: all 1s;
}

#container {
    height: $container_h;
    transition: all 1s;
    $bgcolor: transparentize($light-green, 0.3);
    background-color: $bgcolor;
    padding-bottom: 0.01 * $screen_h;
}

#notification {
    height: $notice_h;
    color: $dark-green;
    @include vertical-flexbox;
    -webkit-align-content: center;
    align-content: center;
    background: transparent;
}

h2 {
    color: $dark-green;
    font-size: $noticefntsize;
    @include vertical-flexbox;
    @include absoluteSize(auto, 80%);
    background-color: $mid-green;
    padding: 0 2em;
    margin: auto 1em;
    border-radius: 10px;
    // box-shadow: 2px 2px 5px $gray;
}

#yes, #no {
    color: inherit;
    font-size: $noticefntsize;
    @include absoluteSize(auto, 80%);
    padding: 0 2em;
    margin: auto 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px $gray;
}

.notVisible {
    display: none;
}

.visible {
    @include vertical-flexbox;
}

#game {
    @include horizontal-flexbox;
    height: $boardsize;
}

#playerScores {
    @include vertical-flexbox;
    height: 0.8 * $boardsize;
    width: $sidebar_w;
}

#playerbox {
    width: 50%;
    border-radius: 10px;
    margin-left: 30%;
    padding-top: 0.04 * $boardsize;
    padding-bottom: 0.04 * $boardsize;
    // box-shadow: 2px 2px 5px $gray;
    background-color: $mid-green;
    color: $dark-green;
}

hr {
    width: 80%;
    $hrcolor: transparentize($dark-green, 0.2);
    border-top: 1px solid $hrcolor;
    border-bottom: none;
    margin: 0 10%;
    box-shadow: 0px 0px 2px $gray;
}

.info {
    @include vertical-flexbox;
    height: 0.08 * $boardsize;
    font-size: 0.05 * $boardsize;
    color: $dark-green;
}

#board {
    @include horizontal-flexbox;
    @include absoluteSize($boardsize, $boardsize);
    //background-color: $mid-green;
}

.cell {
    @include vertical-flexbox;
    @include absoluteSize($cellinteriorsize, $cellinteriorsize);
    border: 0;
    border-radius: 10px;
    background-color: $mid-green;
    //box-shadow: 2px 2px 5px $gray;
}

#pieces {
    @include vertical-flexbox;
    height: $boardsize;
    width: $sidebar_w;
}

#piecesBox {
    @include vertical-columns;
    width: 50%;
    margin-right: 30%;
    height: $boardsize;
    max-height: $boardsize;
}

a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a.info {
    color: $dark-green;
}

a.info:hover {
    $hovercolor: transparentize($dark-green, 0.8);
    background-color: $hovercolor;
}

a.info:active {
    $hovercolor: transparentize($dark-green, 0.5);
    background-color: $hovercolor;
}

@import "parts/gamepieces";
@import "parts/footer";
