@import "helpers/colors";
@import "helpers/gradients";
@import "helpers/functions";
@import "helpers/forms";
@import "helpers/anims";

$screen_w: 100vw;
$screen_h: 100vh;

// May not need some of these later
$header_h: 0.1 * $screen_h;
$container_h: 0.84 * $screen_h;
$logo_s: 0.56 * $container_h;

@import "parts/header";
@import "parts/biglogo";

* {
    margin: 0;
    padding: 0;
    font-family: 'Aldo';
}

body {
    background-color: $light-green;
    overflow: hidden;
    //@include crisscross(white, $light-green, $dark-green);
}

#container {
    @include vertical-flexbox;
    @include absoluteSize($screen_w, $container_h);
    transition: all 1s;
    background: transparent;
}

h1 {
    $h1_s: 0.3 * $container_h;
    @include vertical-flexbox;
    @include absoluteSize($screen_w, $h1_s);
    font-size: 0.7 * $h1_s;
    color: $dark-green;
    cursor: default;
    transition: all 1s;
    //text-shadow: 2px 2px 5px $dark-green;
}

h1:hover {
    text-shadow: 0px 2px 4px $black;
}

$logo_s: 0.56 * $container_h;
$menu_h: 0.7 * $container_h;
$menu_item_w: 0.30 * $screen_w;

#menu {
    @include horizontal-flexbox;
    @include absoluteSize($screen_w, $menu_h);
}

#menu_left, #menu_right {
    @include absoluteSize($menu_item_w, $logo_s);
    @include vertical-flexbox;
    float: right;
    justify-content: center;
    margin-bottom: 0.1 * $container_h;
}

.link, a.link {
    $link_s: $logo_s / 5;
    $link_w: $menu_item_w * 0.9;
    @include absoluteSize($link_w, $link_s);
    @include vertical-flexbox;
    background-color: $green;
    font-size: $link_s * 0.5;
    color: $dark-green;
    margin: $link_s / 3 auto;
}

.link:hover {
    color: $light-green;
}

.link:active {
    background-color: $dark-green;
}

#online_game {
    opacity: 0.35;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 0.8em;
}

a, a:visited, a:link {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (orientation: portrait) {

    // $header_h: 0.06 * $screen_h;
    $container_h: 0.9 * $screen_h;
    $footer_h: 0.04 * $screen_h;

    #container {
        @include vertical-flexbox;
        @include absoluteSize($screen_w, $container_h);
    }

    h1 {
        $h1_s: 0.10 * $container_h;
        @include absoluteSize($screen_w, $h1_s);
        font-size: 0.6 * $h1_s;
    }

    $logo_s: 0.5 * $screen_w;
    $menu_h: 0.9 * $container_h;
    $menu_item_w: 0.80 * $screen_w;

    #menu_left, #menu_right {
        @include absoluteSize($screen_w, 0.3 * $menu_h);
        @include vertical-flexbox;
        justify-content: center;
        margin-bottom: 0.1 * $container_h;
        margin: 0;
    }

    #menu_left {
        justify-content: flex-end;
    }

    #menu_right {
        justify-content: flex-start;
    }

    #menu {
        @include absoluteSize($screen_w, $menu_h);
        @include vertical-flexbox;
    }

    .link, a.link {
        $link_s: 0.3 * $menu_h / 3.5;
        $link_w: $menu_item_w;
        @include absoluteSize($link_w, $link_s);
        @include vertical-flexbox;
        background-color: $green;
        font-size: $link_s * 0.5;
        color: $dark-green;
        margin: $link_s / 4 auto;
    }
}

@import "parts/footer";
