@mixin rotate_and_shape($time1, $time2) {
    -webkit-animation: rotate $time1 linear 1s infinite normal,
                       change_shape $time2 linear 1s infinite alternate;
    -moz-animation: rotate $time1 linear 1s infinite normal,
                    change_shape $time2 linear 1s infinite alternate;
    -ms-animation: rotate $time1 linear 1s infinite normal,
                   change_shape $time2 linear 1s infinite alternate;
    -o-animation: rotate $time1 linear 1s infinite normal,
                  change_shape $time2 linear 1s infinite alternate;
    animation: rotate $time1 linear 1s infinite normal,
               change_shape $time2 linear 1s infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes change_shape {
    0% {
        border-radius: 50% 50% 50% 50%;
    }
    11.76% {
        border-radius: 50% 50% 50% 50%;
    }
    23.52% {
        border-radius: 20% 50% 50% 50%;
    }
    35.28% {
        border-radius: 20% 50% 50% 50%;
    }
    47.04% {
        border-radius: 20% 20% 50% 50%;
    }
    58.8% {
        border-radius: 20% 20% 50% 50%;
    }
    70.56% {
        border-radius: 20% 20% 20% 50%;
    }
    82.32% {
        border-radius: 20% 20% 20% 50%;
    }
    94.08% {
        border-radius: 20% 20% 20% 20%;
    }
    100% {
        border-radius: 20% 20% 20% 20%;
    }
}
