@mixin linear-gradient($angle, $color1, $color2) {
    $color1: transparentize($color1, 0.25);
    $color2: transparentize($color2, 0.25);
    background: $color1;
    background: -webkit-linear-gradient($angle, $color1, $color2);
    background: -o-linear-gradient($angle, $color1, $color2);
    background: -moz-linear-gradient($angle, $color1, $color2);
    background: linear-gradient($angle, $color1, $color2);
}

@mixin checkerboard($color1, $color2) {
    background-color: $color1;
    background-image: -webkit-linear-gradient(
        45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2),
        -webkit-linear-gradient(
        -45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2);
    background-image: -o-linear-gradient(
        45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2),
        -o-linear-gradient(
        -45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2);
    background-image: -moz-linear-gradient(
        45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2),
        -moz-linear-gradient(
        -45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2);
    background-image: linear-gradient(
        45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2),
        linear-gradient(
        -45deg, $color2 25%, transparent 25%, transparent 75%,
        $color2 75%, $color2);
    background-size: 35% 35%;
    background-position: center;
}

@mixin crisscross($color1, $color2, $color3) {
    background-color: $color2;
    background-image: -webkit-linear-gradient(
        34deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3),
        -webkit-linear-gradient(
        146deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3);
    background-image: -o-linear-gradient(
        34deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3),
        -o-linear-gradient(
        146deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3);
    background-image: -moz-linear-gradient(
        34deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3),
        -moz-linear-gradient(
        146deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3);
    background-image: linear-gradient(
        34deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3),
        linear-gradient(
        146deg, $color3, transparent 20%, $color1 24%, $color1 26%,
        transparent 30%, transparent 70%, $color1 74%, $color1 76%,
        transparent 80%, $color3);
    background-size: $scrnhgt * 0.24 $scrnhgt * 0.16;
    background-position: center;
}
